#intro {
    height: 850px;
}
#maps iframe {
    width: 100%;
    height: 100%;
}
#contact input, #contact textarea, #contact select {
    width: 60%;
}
.row .seven-twelfths, .row .g-7 {
    width: 52%;
}
.row .five-twelfths, .row .g-5 {
    width: 48%;
}
.row {
    max-width: 1070px;
    text-align: center;
}
.cont {
    text-align: left;
}
.g-5 td {
    padding: 8px 10px;
}
#contact label {
    width: 34%;
}
#contact button.submit {
    margin-left: 34%;
    padding: 18px 35px;
}
#about {
    background: #fff url("../images/patterns/grey.png");
    padding-top: 50px;
    padding-bottom: 30px;
    color: #888888;
}
#about h3 {
    margin-top: 40px;
    color: #595959;
    font-family: "Chicories", sans-serif;
    font-weight: bold;
    font-size: 30px;
}
#services {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #6d767f;
}
#header-contact a {
    float: right;
    color: #ffffff;
}
.v-hidden {
    display: none;
}
#v-window-1 {
    width: 1100px;
    height: 1100px;
    background: #FFFFFF;
    color: #17bed2;
    margin: 65px auto;
    position: relative;
    text-align: center;
}
#v-window-1 h2 {
    padding: 18px 0 0 0;
    font-family: "Caliber Light", sans-serif;
    text-align: center;
}
#v-window-2 {
    width: 1100px;
    height: 840px;
    background: #FFFFFF;
    color: #17bed2;
    margin: 65px auto;
    position: relative;
}
#v-window-2 h2 {
    text-align: center;
    padding: 18px 0 0 0;
    font-family: "Calibri Light", sans-serif;
}
#v-window-3 {
    width: 1100px;
    height: 850px;
    background: #FFFFFF;
    color: #17bed2;
    margin: 65px auto;
    position: relative;
}
#v-window-3 h2 {
    text-align: center;
    padding: 18px 0 0 0;
    font-family: "Calibri Light", sans-serif;
}
#v-window-4 {
    width: 1100px;
    height: 2000px;
    background: #FFFFFF;
    color: #17bed2;
    margin: 65px auto;
    position: relative;
}
#v-window-4 h2 {
    text-align: center;
    padding: 18px 0 0 0;
    font-family: "Calibri Light", sans-serif;
}
#v-window-5 {
    width: 1100px;
    height: 350px;
    background: #FFFFFF;
    color: #17bed2;
    margin: 65px auto;
    position: relative;
}
#v-window-5 h2 {
    text-align: center;
    padding: 18px 0 0 0;
    font-family: "Calibri Light", sans-serif;
}
#v-window-6 {
    width: 1100px;
    height: 1070px;
    background: #FFFFFF;
    color: #17bed2;
    margin: 65px auto;
    position: relative;
}
#v-window-6 h2 {
    text-align: center;
    padding: 18px 0 0 0;
    font-family: "Calibri Light", sans-serif;
}
.v-window .mfp-close {
    font-size: 30px;
    color: #000000;
}
#order-call {
    width: 180px;
    height: 36px;
    outline: none;
    float: right;
    margin: 10px;
    line-height: 0;
    background: #cfb21b;
    color: #0b0b0b;
    font-size: 22px;
    font-weight: 500;
    font-family: "Calibri Light", sans-serif;
}
#nav-wrap {
    font-family: "Calibri Light", sans-serif;
    font-size: 19px;
}
#aaa {
    display: none;
}
#form-order {
    width: 350px;
    height: 300px;
    background: rgb(126, 109, 15);
    margin: auto;
}
#form-order h1 {
    text-align: center;
    padding: 40px 0 7px 0;
    font-size: 27px;
    margin: 0;
}
#form-order input {
    display: block;
    width: 90%;
    margin: 0 auto;
    background: none;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    outline: none;
    line-height: 15px;
}
#form-order .mfp-close {
    display: none;
}
#form-order #submit {
    border: 1px solid #2D3339;
    margin: 30px auto;
    background: #00000087;
}
#form-order #submit:hover {
    background: #000000;
}
#form-order input::-webkit-input-placeholder {
    font-size: 20px;
    color: #FFFFFF;
}
#table-info-form {
    margin: auto;
}
#table-info-form td {
    padding: 0 20px;
}
#table-info-form textarea{
    width: 100%;
    height: 40px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
textarea,
select {
    min-width: 300px;
    line-height: 1;
    border: 1px solid #0b0b0b;
}
#order-submit {
    border: 1px solid #2D3339;
    width: 300px;
    padding: 10px;
}
.process-wrap img {
    width: 230px;
    height: 180px;
}
.row-colon {
    width: 30%;
    text-align: center;
    position: relative;
}
.row-colon img {
    width: 300px;
    box-shadow: 0 0 40px rgba(0,0,0,0.6);
}
.row-colon:hover .row-colon-two {
    display: block;
    box-shadow: inset 0 0 40px rgba(0,0,0,0.8);
    background: #000000;
    opacity: 0.6;
}
.row-colon-two {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    display: none;
    -webkit-transition: all .55s;
    -o-transition: all .55s;
    transition: all .55s;
}
h1 {
    line-height: 20px;
    margin-bottom: 40px;
}
.sel {
    display: flex;
    justify-content: center;
}
#portfolio {
    padding-top: 50px;
    padding-bottom: 70px;
}
#journal {
    padding-top: 50px;
    padding-bottom: 60px;
}
textarea {
    resize: none;
}
#journal .section-head h2 {
    color: #696969;
}
#contact {
    padding-top: 50px;
    padding-bottom: 30px;
}
#contactMessage {
    height: 30px;
}
#contact .section-head h2 {
    color: #FFC107;
}
#contact label {
    margin: 0;
}
#sub-com {
    width: 308px;
}
.item-wrap:hover {
    box-shadow: inset 0 0 70px rgba(0,0,0,0.4);
}
.info-order {
    width: 98%;
    text-align: center;
    margin: 0 auto;
}
.info-order tr td:first-child {
    padding: 0 30px;
}
.info-order tr td {
    padding: 15px 0;
}
.main-span {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}
.main-p {
    font-size: 16px;
    color: #0b0b0b;
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 20px;
}
#commentWindow {
    width: 900px;
    height: 600px;
    background: rgba(224, 224, 224, 0.44);
    margin: auto;
}
#commentWindow td {
    color: #000000;
    font-size: 22px;
    padding: 10px 20px;
    text-align: center;
}
#windowB {
    display: none;
}